@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Our Coffee Shop!!!</h1>
    <p>Click <a href="https://www.facebook.com/photo/?fbid=5540723782628468&set=a.312035718830660">here</a> for a picture of my cats!</p>
</div>
